/* FormBuilder specific custom CSS should go here. Basic form element styling can go in the main Layout.css file */

/* Override jQuery UI styles */
.ui-widget-content {
    background-color: transparent !important;
    border: none !important;
}

.InputfieldFieldset {
    padding: 1rem 1.15rem 0 !important;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
}

.InputfieldFieldset > .InputfieldHeader:first-child {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}